@import "_variables.scss";
@import "_mixins.scss";

//////////
// CART //
//////////
.cart {
.cart-btn {
	position: fixed;
	top: 55px;
	transform: translateY(-50%);
	right: 2vw;
	border-radius: 50px;
	z-index: 501;
	cursor: pointer;
	transition: 0.2s;
	@include mQ($lg) {
		right: 20px;
	}
	@include mQ($sm) {
		top: 40px;
		right: 65px;
	}
	&:hover p, &:hover i {
		color: $darkGrey !important;
	}
	p, i {
		color: $darkerGrey !important;
		transition: 0.2s;
	}
	p {
		@include centerY;
		left: -7px;
		font-family: $serifFont;
		padding: 1px 5px;
		border-radius: 50px;
	}
	i {
		font-size: 1.5rem;
		@include mQ($sm) {
			font-size: 1.3rem;
		}
	}
}
}
.popup {
	height: 100vh;
	background-color: white;
	position: fixed;
	opacity: 0;
	transition: 0.3s;
	top: 0;
	right: 0;
	z-index: 501;
	box-shadow: -10px 0 20px rgba(0,0,0,0.1);
	width: 500px;
	display: none;
	overflow-y: scroll;
	padding-bottom: 125px;
	@include mQ($xs) {
		width: 100vw;
	}
	a {
		text-decoration: none;
	}
	.item {
		position: relative;
		i {
			color: $darkerGrey !important;
			padding: 10px;
			font-size: 1rem !important;
			transition: 0.2s;
			&:hover {
				color: $black !important;
			}
		}
	}
	.checkout-container {
		width: 500px;
		position: fixed;
		bottom: 0;
		height: 125px;
		transition: 0.3s;
		background-color: white;
		right: 0;
		z-index: 10;
		@include mQ($xs) {
			width: 100vw;
		}
	}
	.checkout {
		background-color: $black;
		border: 2px solid $black;
		@include centerX;
		bottom: 40px;
		width: calc(100% - 80px);
		cursor: pointer;
		&::before {
			content: '' !important;
		}
		&:hover {
			color: $darkGrey !important;
		}
	}
	h6 {
		letter-spacing: 1.5px;
	}
	i {
		cursor: pointer;
		&.fa-times {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 20px;
			font-size: 1.5rem;
		}
	}
	.empty {
		@include centerer;
		h6 {
			letter-spacing: 0 !important;
		}
		p {
			font-family: $serifFont;
		}
	}
}
.disable-checkout {
	display: none;
}
.popupbg {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	display: none;
	transition: 0.3s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.popupIn {
	display: block;
	animation: fadeIn 0.3s forwards;
}
.popupOut {
	opacity: 1;
	display: block;
	animation: fadeOut 0.2s forwards;
}

//cart end

//////////
// SHOP //
//////////
#shop {
    background-color: $lightGrey;
    padding-top: 109px;
	padding-bottom: 100px;
	@include mQ($sm) {
		padding-top: 68px;
	}
	.tea-cups {
//		width: 100%;
	}
	h1 {
		margin-top: -75px;
		left: 5px;
		position: relative;
		z-index: 1;
		@include mQ($sm) {
			margin-top: -35px;
		}
	}
}
.listings {
	width: 100%;
	position: relative;
	padding: 0% 5% !important;
	@include mQ($sm) {
		padding: 0% 10% !important;
	}
	& > a > div {
        width: 21%;
//		width: 28%;
		cursor: pointer;
		position: relative;
		background-color: white;
        overflow: hidden;
		display: inline-block;
		margin: 1.86%;
		box-shadow: 0 .25px 0.25px rgba(0,0,0,0.1);
		transition: 0.3s ease-out;
		@include mQ($md) {
			margin: 1.82%;
		}
		@include mQ($sm) {
			width: 29%;
			margin: 1.95%;
		}
		@include mQ($xs) {
			width: 45%;
			margin: 1.95%;
		}
		&:hover {
			box-shadow: 0 .25px 25px rgba(0,0,0,0.1);
		}
		&:hover > img {
//			transform: scale(1);
			opacity: 0.9;
		}
		img {
			transform: scale(0.95);
			transition: 0.3s ease-out;
			filter: saturate(0.65);
			width: 60% !important;
			opacity: 0.85;
		}
		.label {
			@include centerer;
            top: 79%;
            width: 100%;
            @include mQ($md) {
                top: 79%;
            }
			h6 {
				position: relative;
                font-size: 1rem !important;
                text-transform: uppercase;
                letter-spacing: 1px;
                @include mQ($sm) {
                    font-size: 0.8rem !important;
                }
			}
            h5 {
                font-size: 1rem !important;
                font-family: $serifFont !important;
            }
			.cost {
				h5, p, h6 {
                    text-align: left !important;
                    
//					font-weight: 400 !important;
				}
                h5, p {
                    display: inline-block;
                }
				p {
					font-size: 0.7rem;
					margin-top: -10px;
				}
			}
		}
	}
}
.shop-categories {
	top: -47px;
	background-color: $lightGrey;
	position: relative;
	padding: 10px 30px 0px 37px;
	@include mQ($md) {
		padding: 5px 30px 3px 33px;
	}
	& > a {
		height: 70vh;
		display: inline-block;
		padding: 0 !important;
		opacity: 0.95;
		margin: -1px;
		border: 8px solid $lightGrey;
		float: left;
		overflow: hidden;
		@include mQ($md) {
			border: 4px solid $lightGrey;
		}
		@include mQ($xs) {
			height: 40vh !important;
		}
		&:hover::before {
			filter: brightness(0.7);
			transform: scale(1.03);
		}
		&::before {
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			transform: scale(1);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: 0.5s ease-in-out;
		}
//		&:first-child {
//			height: 70vh !important;
//			@include mQ($xs) {
//				height: 40vh !important;
//			}
//		}
		&:first-child::before {
			background-image: url('../../images/home/tea-category-two.jpg');
		}
		&:nth-child(2)::before {
			background-image: url('../../images/home/tea-category-three.jpg');
		}
		&:nth-child(3)::before {
			background-image: url('../../images/home/tea-category-one.png');
		}
		h6 {
			color: $whiter !important;
			@include centerer;
			letter-spacing: 5px;
			text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
		}
		
	}
}
.category {
	z-index: 2;
	position: absolute;
	transform: rotate(-45deg);
	left: -65px;
	top: 25px;
//    top: 10px;
//    left: 10px;
	padding: 1px;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 1px;
	width: 200px;
	font-family: $textFont !important;
//    color: $white !important;
	&.new {
//        background-color: $green;
//		border: 2px dotted $green;
//		border-top: 1px dashed $green;
		border-bottom: 2px dashed $green;
		color: $green !important;
	}
	&.hot {
//        background-color: $black;
//		border: 2px dotted $brown;
//		border-top: 1px dashed $brown;
		border-bottom: 2px dashed $brown;
		color: $brown !important;
	}
}
//shop end

//////////////
// PRODUCTS //
//////////////
#products {
	background-color: white;
	padding-top: 108px;
	@include mQ($sm) {
		padding-top: 68px;
	}
	h6 {
		text-transform: uppercase;
		font-size: 1.5rem;
	}
	h5 {
		font-weight: 400 !important;
	}
	p {
		font-size: 1rem;
	}
	.amount {
		
	}
	.cat {
		font-family: $serifFont;
		font-size: 1.2rem !important;
	}
	.product-img {
		filter: saturate(0.8);
		opacity: 0.95;
	}
	.options {
		& > div {
			position: relative;
			background-color: $black;
			cursor: pointer;
			transition: 0.2s;
			border: 2px solid white;
			overflow: hidden;
			opacity: 0.95;
			
			&:hover i {
				transform: scale(1.3);
				
			}
			&:active i {
				color: $brown !important;
			}
//			&:hover .category {
//				border: 1px solid $white;
//			}
			.category {
				font-size: 0.75rem;
				left: -70px;
				top: 20px;
				border: 1px solid $black;
				transition: 0.2s;
			}
			h5, h6, p, span, i {
				color: $white !important;
				user-select: none;
			}
			p {
				font-family: $serifFont;
			}
			i {
				transform: scale(0.9);
				transition: 0.2s;
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
			.amount {
				text-transform: uppercase;
			}
		}
	}
	.suggestions {
		margin-top: 110px !important;
		background-color: $lightGrey;
		h5 {
			margin-top: -65px;
			font-weight: 700 !important;
		}
	}
}