//Colors
$brown: #a95121;
$green: #7ab08d;
$black: #1a1a1a;
$darkerGrey: #606060;
$darkGrey: #acacac;
$grey: #e7e4e2;
$lightGrey: #f1f1f1;
$white: #f9f9f9;
$whiter: #fcfcfc;
$yellow: #E8D78D;

//Media Query
$xxs: 479px;
$xs : 767px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

//Font Family
$headerFont: 'Arial', sans-serif;
$textFont: 'Roboto', sans-serif;
$serifFont: 'EB Garamond', serif;