@import "_variables.scss";
@import "_mixins.scss";
@import "_shopping.scss";

* {
    @include boxSizing;
    font-family: $textFont;
    color: $black !important;
}
html,body {
    font-size: 16px;
    overflow-x: hidden;
}
body {
    background-color: $black;
}

///////////////
// SCROLLBAL //
///////////////
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}

body::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: $darkGrey;
} 
//scrollbar end

/////////////////
// TEXT STYLES //
/////////////////
h1, h2, h5 {
    font-weight: 700;
	line-height: 1;
}
h1 {
	font-size: 6.2rem;
    letter-spacing: 18px;
    @include mQ($xs) {
        font-size: 4.2rem;
		letter-spacing: 8px;
    }
}
h2 {
    font-size: 4.8rem;
    letter-spacing: 7px;
    @include mQ($xs) {
        font-size: 3.1rem;
    }
}
h3, h4 {
	font-family: $serifFont;
}
h3 {
	font-size: 1.8rem;
	@include mQ($xs) {
        font-size: 1.6rem;
    }
}
h4 {
    font-size: 1.4rem;
}
h5 {
	font-size: 2.5rem;
	@include mQ($xs) {
        font-size: 2rem;
    }
}
h6 {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.1;
    @include mQ($xs) {
        font-size: 1rem;
    }
}
p {
	font-size: 1.1rem;
	line-height: 1.5;
    @include mQ($xs) {
        font-size: 1rem;
    }
}
.btn {
    background-color: $black;
    color: $white !important;
    font-size: 0.9rem;
    letter-spacing: 2px;
    border-radius: 0;
    border: 2px solid $black;
    padding: 0.6rem 2.5rem;
    position: relative;
    transition: 0.2s;
	z-index: 20;
    cursor: pointer !important;
	&:hover {
		color: $darkGrey !important;
	}
//    &:hover::before {
//        transform: translate(-55%, -100%) scale(0.75);
//    }
    &::before {
        content: url('../../images/herb.png');
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-55%, -100%) scale(0.7);
        transform-origin: 50% 100%;
        transition: .2s;
    }
}
.brown {
    color: $brown !important;
}
.green {
    color: $green !important;
}
//.line-streak {
//	padding: 0 20px;
//	display: inline-block;
//	position: relative;
//	&::after {
//		content: '';
//		width: 100%;
//		height: 1px;
//		z-index: -1;
//		background-color: $darkerGrey;
//		@include centerer;
//	}
//}
//text styles end

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}
img {
    user-select: none !important;
}

////////////
// NAVBAR //
////////////
.navbar-brand {
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.8rem;
    @include mQ($sm) {
        font-size: 1.9rem;
        line-height: 1.5rem;
        position: relative;
    }
	@include mQ($xxs) {
		left: 45px;
	}

    @include centerX;
    .serif {
        font-weight: 400;
        font-family: $serifFont;
        font-size: 1.7rem;
        font-style: italic;
        
        @include mQ($xs) {
            font-size: 1.4rem;
        }
    }
}
.nav-container {
    position: fixed;
    z-index: 500;
	
.navbar {
    background-color: $white;
    position: relative;
    box-shadow: 1px 0 4px rgba(0,0,0, 0.05);
    .navbar-toggler {
        border: 0;
    }
    .navbar-nav {
        width: 100vw;
        display: inline-block;
        @include mQ($sm) {
            margin-top: 10px;
            display: block !important;
        }

        .nav-split-brand {
            margin-right: calc(101px + 50px) !important;
            @include mQ($lg) {
                margin-right: calc(101px + 40px) !important;
            }
            @include mQ($md) {
                margin-right: calc(101px + 24px) !important;
            }
            @include mQ($sm) {
                margin: 0 !important;
                display: block !important;
            }
        }
		.dropdown {
			.dropdown-menu {
				border: none;
				position: fixed;
				top: 106px;
				left: 0;
				width: 100vw;
				display: none;
				justify-content: space-around;
				box-shadow: 1px 0 4px rgba(0,0,0, 0.05);
				padding: 0 15%;
				background-color: white !important;
                filter: brightness(0.99);
				@include mQ($sm) {
					padding-bottom: 10px !important;
				}
				@include mQ($sm) {
					position: relative;
					top: 0;
				}
				a {
					@include mQ($sm) {
						padding: 5px !important;
						color: $black !important;
					}
					img {
						filter: saturate(0.65);
						opacity: 0.85;
						transition: 0.2s;
						
						@include mQ($sm) {
							display: none;
						}
					}
					&:hover {
						background-color: white !important;
					}
					&:hover img {
						opacity: 0.9;
					}
				}
			}
		}
        .nav-item {
            display: inline-block;
            position: relative;
			left: -5px;
            z-index: 2;
			text-transform: uppercase !important;
//			&:nth-child(5) {
//				position: fixed;
//				right: -98%;
//				top: 0 !important;
//				transform: scale(0.9) translateY(-4%);
//			}
			&:nth-child(5) {
				@include mQ($sm) {
					display: none !important;
				}
			}
			&:nth-child(6) {
				display: none;
				@include mQ($sm) {
					display: block;
				}
			}
			i {
				color: $darkGrey !important;
				transition: 0.3s;
				transform: scale(1.2);
			}
            @include mQ($lg) {
                left: -5px;
                padding: 0 18px;
            }
            @include mQ($md) {
                left: -15px;
                padding: 0 12px;
            }
            @include mQ($sm) {
                display: block !important;
                text-align: center;
                left: 0 !important;
                transform: none;
                padding: 0;
                left: -15px !important;
            }
            &.active a::before {
                content: url(../../images/flower.png);
                z-index: -1;
				filter: brightness(0.9);
                @include centerer;
            }
            a {
                color: $darkGrey !important;
                letter-spacing: 2px;
                font-size: 0.9rem;
                transition: 0.3s;
                padding: 44px 50px;
                @include mQ($lg) {
                    padding: 44px 26px;
                }
                @include mQ($md) {
                    padding: 44px 14px;
                }
                @include mQ($sm) {
                    padding: 18px 15px;
                    display: inline-block ;
                }
                &:hover {
                    color: $black !important;
                }
				&:hover i {
					color: $black !important;
				}
            }
        }
    }
}
}
//nav end

//////////////
// HOMEPAGE //
//////////////
#home {
	background-color: $lightGrey;
    .landing {
        padding-top: 50px;
        min-height: calc(100vh + 50px);
        background-color: $whiter;
        position: relative;
        .text {
            @include centerer;
            top: 48% !important;
            z-index: 100;
            @include mQ($md) {
                top: 43% !important;
            }
            @include mQ($xs) {
                top: 55% !important;
            }
            h1 {
                &::before {
                    content: url('../../images/home/your-tea-leaf.png');
                    @include centerX;
                    z-index: -1;
                    margin-top: -90px;
                    @include mQ($md) {
                        content: url('../../images/home/your-tea-leaf-sm.png');
                        margin-top: -50px;
                    }
                }
            }
            h3 {
                font-size: 2.2rem;
            }
            .btn {
                position: relative;
            }
            .teacups {
                @include centerX;
                margin-top: -23px;
                z-index: 2;
                width: 885px;
                @include mQ($lg) {
                    width: 765px;
                }
                @include mQ($sm) {
                    width: 680px;
                }
                @include mQ($xs) {
                    width: 500px;
                }
                @include mQ($xxs) {
                    width: 100%;
                }
            }
        }
        .one {
            width: 100%;
            top: 60% !important;
            z-index: 50;
            @include centerY;
            @include mQ($md) {
                display: none;
            }
        }
        
    }
	.samples {
        padding-top: 300px;
		background-color: $whiter;
		position: relative;
		padding-bottom: 300px;
		@include mQ($md) {
			padding-bottom: 260px;
            padding-top: 75px;
		}
		@include mQ($xs) {
			padding-bottom: 190px;
            padding-top: 150px;
		}
		.white-paint {
			position: absolute;
			top: -100px;
			min-width: 100%;
		}
        .text {
            position: relative;
            z-index:200;
        }
		.sample {
            position: relative;
            z-index: 200;
			filter: saturate(0.8) drop-shadow(0 0 3px rgba(0,0,0,0.2));
			@include mQ($sm) {
				margin: auto;
			}
		}
		.tea-flower {
			position: absolute;
			z-index: 2;
			bottom: 0;
			&.one {
				@include centerX;
				filter: brightness(0.92);
				width: 650px;
				@include mQ($md) {
					width: 50%;
				}
				@include mQ($xs) {
					width: 350px;
				}
			}
			&.two {
				width: 100%;
				filter: brightness(1.2);
				@include mQ($xs) {
					display: none;
				}
			}
		}
	}
	.tea {
		margin-top: -60px;
		position: relative;
		z-index: 3;
		@include mQ($xs) {
			margin-top: -40px;
		}
		h1 {
			position: relative;
			z-index: 100;
			top: 0px;
			@include mQ($sm) {
				top: -20px;
			}
			@include mQ($xxs) {
				font-size: 3rem !important;
			}
		}
		.listings {
			background-color: $lightGrey;
			top: -40px;
		}
		.new, .best {
			z-index: 1;
		}
		.new {
			h3 {
				&::before {
					content: url(../../images/home/newest-additions-herb.png);
					@include centerer;
				}
			}
		}
		.best {
			h3 {
				&::before {
					content: url(../../images/home/best-sellers-herb.png);
					@include centerer;
				}
			}
		}
		h3 {
			background-color: $lightGrey;
			&::after {
				width: 150px;
				@include mQ($sm) {
					
				}
			}
		}
	}
	.our-story {
        padding-top: 40px;
		position: relative;
		margin-top: -40px;
        background-color: $white;
        @include mQ($md) {
            padding-top: 10px;
        }
		.pouring-tea {
//			margin-top: 20px;
			margin-top: -100px;
			@include mQ($sm) {
				margin-top: 20px;
			}
		}
		h2, h3 {
			position: relative;
			z-index: 1;
		}
		.btn {
			margin-top: -25px;
		}
        .flower-bed {
//			opacity: 0.8;
            @include mQ($xs) {
                width: 1000px !important;
            }
        }
        .herb {
			opacity: 0.8;
            margin-left: -15px;
        }
	}
	.benefits {
		position: relative;
		padding-bottom: 150px;
		padding-top: 100px;
		@include mQ($xs) {
			padding-top: 60px;
		}
		.herb {
			width: 75px;
		}
		.flower-bed {
			position: absolute;
			width: 100%;
			bottom: 0;
			filter: brightness(1.2);
		}
	}
}
//homepage end

////////////
// CREATE //
////////////
#create {
	padding-top: 100px;
	min-height: 100vh;
	position: relative;
	background-color: $white;
	@include mQ($md) {
		padding-top: 60px;
	}
	img {
		filter: saturate(0) brightness(1);
		opacity: 0.9;
	}
	& > div > div {
		min-height: 100vh;
		width: 100vw;
		position: absolute;
	}
	.text {
		@include centerer;
		transform: translate(-50%, -50%) !important;
		margin-top: -75px;
		@include mQ($md) {
			padding-top: 30px;
		}
        h2 {
            &::before {
                content: url(../../images/contact/leaf.png);
                @include centerer;
                z-index: -1;
                margin-top: -70px;
                @include mQ($sm) {
                    margin-top: -40px;
                }
            }
        }
		figure {
			@include centerX;
            height: 100%;
            bottom: -125%;
			@include mQ($md) {
				bottom: -125%;
			}
			@keyframes expand {
				0%, 75% {
					width: 3px;
					height: 3px;
				}
				25%, 50% {
					width: 7px;
					height: 7px;
				}
			}
			& > div {
				width: 3px;
				height: 3px;
				margin: 10px;
				border-radius: 50%;
				background-color: $black;
				display: inline-block;
				animation: expand 3s infinite;
                animation-delay: 0s; 
				&:nth-child(2) {
					animation-delay: 0.2s; 
				}
				&:nth-child(3) {
					animation-delay: 0.4s; 
				}
			}
		}
	}
}

///////////////
// OUR STORY //
///////////////
#our-story {
	background-color: $white;
//    .side-flowers {
//        position: absolute;
//        width: 100%;
//        filter: brightness(0.95);
//        @include mQ($xs) {
//            display: none;
//        }
//    }
	.flower-bed {
        margin-top: -5vw;
		width: 100%;
		background-color: $lightGrey;
		position: absolute;
		z-index: 10;
//        display: none;
        @include mQ($lg) {
            margin-top: 0;
        }
		@include mQ($md) {
			top: 25px;
		}
	}
	.flower-bed-two {
		filter: brightness(0.95);
		margin-top: -25px;
		width: 100%;
		@include mQ($xs) {
			margin-top: 50px;
		}
	}
	.side-images {
		img {
			position: absolute;
			z-index: 15;
			width: 20vw !important;
			@include mQ($sm) {
				display: none;
			}
		}
		.girl-pouring-tea {
			width: 20vw !important;
			left: 0;
			top: calc(32vw - 1800px);
		}
		.loose-tea-leaves {
			right: 0;
			top: -550px;
		}
	}
	.text {
		top: 50px;
		z-index: 11;
		.tea-maker{
			position: relative;
			
		}
		h1 {
			position: relative;
			left: 7px;
			margin-top: -40px;
			@include mQ($xs) {
				margin-top: -25px;
				left: 0px;
			}
		}
		h3 {
			background-color: $white;
			&::after {
				width: 350px;
				@include mQ($md) {
					width: 275px !important;
				}
				@include mQ($xxs) {
					width: 200px !important;
				}
			}
		}
		h5 {
			position: relative;
			&::after {
				content: url(../../images/our-story/flower.png);
				z-index: -1;
				transform: scale(0.7) translate(-30%, -20%) !important;
				transform-origin: -50% -50%;
				@include centerer;
			}
		}
		p {
			position: relative;
			left: 20px;
			@include mQ($md) {
				left: 0;
			}
		}
	} 
}
//our story end

/////////////////////
// HEALTH BENEFITS //
/////////////////////
#health-benefits {
	position: relative;
	padding-top: 100px;
	padding-bottom: 0px;
	background-color: $white;
	.flower-bed {
//        display: none;
		position: relative;
		z-index: 10;
		background-color: $lightGrey;
		top: -215px;
		min-width: 100%;
        margin-top: -190px;
		@include mQ($md) {
            margin-top: -50px;
			width: 1200px !important;
		}
		@include mQ($xs) {
			top: -47px;
            top: -75px;
			width: 100% !important;
		}
	}
	.flower-bed-two {
		width: 100%;
		position: relative;
		bottom: 0;
		z-index: 20;
        margin-top: calc(-100px - 22vw) !important;
		@include mQ($sm) {
			position: relative;
			margin-top: 100px !important;
		}
	}
	.tea img {
		position: absolute;
		z-index: 10;
		&:first-child {
			width: 19vw !important;
			top: 1100px;
			right: 0;
			@include mQ($sm) {
				display: none;
			}
		}
		&:nth-child(2) {
			width: 40vw !important;
			top: 1850px;
			@include mQ($md) {
				top: 1850px;
			}
			@include mQ($sm) {
				position: relative;
				top: 0;
				width: 100vw !important;
			}
		}
	}
	h2, p {
		position: relative;
		z-index: 11;
	}
	h2 {
		margin-top: -340px;
        @include mQ($md) {
			margin-top: -240px;
		}
		@include mQ($xs) {
			margin-top: -90px;
		}
	}
	h3 {
		background-color: $white;
		&::after {
			width: 350px !important;
			@include mQ($md) {
				width: 300px !important;
			}
		}
	}
	.sources {
        top: -450px;
		position: relative;
		@include mQ($sm) {
			top: 25px;
		}
		position: relative;
		z-index: 200;
        a {
            text-decoration: none;
            h6 {
                transition: 0.2s;
            }
            &:hover h6 {
                color: $darkGrey !important;
            }
        }
	}
	.text {
		top: -450px;
		position: relative;
		@include mQ($md) {
			top: -350px;
		}
		@include mQ($sm) {
			top: 25px;
		}
		& > div {
			position: relative;
			@include mQ($sm) {
				left: 0 !important;
			}
			&.one {
				left: 75%;

				h5 {
					&::before {
						content: '1';
						left: -55px !important;
						@include healthNum;
					}
				}
			}
			&.two {
				left: 0;
				h5 {
					&::before {
						content: '2';
						@include healthNum;
					}
				}
			}
			&.three {
				left: 40%;
				h5 {
					&::before {
						content: '3';
						@include healthNum;
					}
				}
			}
			&.four {
				left: 0;
				h5 {
					&::before {
						content: '4';
						@include healthNum;
					}
				}
			}
			&.five {
				left: 40%;
				h5 {
					&::before {
						content: '5';
						@include healthNum;
					}
				}
			}
		}
	}
}
//health benefits end

/////////////
// CONTACT //
/////////////
#contact {
    padding: 75px 0 14vw 0;
    background-color: $white;
    position: relative;
    @include mQ($lg) {
        padding: 75px 0 250px 0;
    }
    @include mQ($sm) {
        padding: 75px 0 200px 0;
    }
    .grey {
        width: 100%;
        padding-top: 250px;
        background-color: $white;
        @include mQ($sm) {
            padding-top: 200px;
        }
        @include mQ($xs) {
            padding-top: 150px;
        }
    }
    h2 {
        margin-top: -75px;
        &::before {
            content: url(../../images/contact/leaf.png);
            z-index: -1;
            @include centerer;
            @include mQ($xs) {
                content: url(../../images/contact/leaf-small.png);
            }
        }
    }
    h2, h4, form, h3 {
        position: relative;
        z-index: 2;
    }
    .white-paint {
        position: absolute;
        z-index: 1;
        top: 215px;
        height: 550px;
        display: none;
        @include mQ($sm) {
            height: 675px;
            top: 160px;
        }
        @include mQ($xs) {
            top: 140px;
        }
    }
    .flower-bed {
        position: absolute;
        z-index: 1;
        bottom: 0;
        opacity: 1;
        width: 1300px;
        min-width: 100%;
        @include mQ($xs) {
            width: 1000px;
        }
    }
    form {
        label {
            color: $black !important;
            font-size: 0.8rem;
            font-weight: 700;
        }
        input, textarea {
            
            border-radius: 0;
            background-color: $lightGrey;
            border-bottom: 1px solid $black;
            border-right: 0;
            border-left: 0;
            border-top: 0;
        }
        textarea {
            resize: none;
        }
    }
	.red {
		color: red !important;
	}
}
//contact end

////////////
// SOCIAL //
////////////
#social {
	position: fixed;
	padding: 20px;
	bottom: 0;
	right: 0;
	z-index: 100;
	@include mQ($sm) {
		display: none;
	}
}
.social {
	i {
		padding: 3px;
		cursor: pointer;
		transition: 0.2s;
		@include mQ($sm) {
			float: left;
		}
		&:hover {
			color: $green !important;
		}
	}
}
//social end

////////////
// FOOTER //
////////////
footer {
    background-color: $black;
	position: relative;
	z-index: 2;
    .navbar-brand, .serif {
        color: $white !important;
        position: relative;
        left: 0;
        transform: none;
    }
    p {
        color: $white !important;
        font-size: 0.8rem;
    }
	i {
		color: $white !important;
		font-size: 1.5rem;
		padding: 5px !important;
		position: relative;
		left: -5px;
		float:none !important;
		@include mQ($sm) {
			font-size: 1.2rem;
		}
	}
}